.navBar{
  display:inline;
  margin-left:8%;
  background:grey;
  color:white;
  font-size:20px;
  float:left;
  padding:20px;
  margin-top:-3%;

}
.navBar:hover{
  background: white;
  color:grey;
}
.navBack{
  position:fixed;
  background:grey;
  width:1140px;
  height:10%;

}
#navPhoto{

  width: 10%;
}
.topper{
  text-align: center;
  margin-top: 260px;
  }
  #topper{
  background-color: blue;
  color:white;
  font-size:60px;
  padding:100px;
}
#topPhoto{
  width:60%;

}
h2{

  color:blue;
  padding:10px;
  margin-bottom:30px;
}
p{
  margin: 5px;
}
#surveyHead{
  margin-top: 50px;
  padding:70px;
  background:black;
  color: white;
  text-align:center;
}
#java{
  display:none;
}
#ruby{
  display:none;
}
#php{
  display:none;
}
#cc{
  display:none;
}
